.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-body {
  background-image: url("https://lol.gamepedia.com/media/c/ce/Background_2019_light.jpg");
  background-attachment: fixed;
  background-size: cover;
}
.navbar {
  width: 100%;
  display: block;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5); /*Đổ bóng cho menu*/
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
}

.page-footer-home {
  width: 100%;
  height: 120px;
  display: block;
  position: relative;
  bottom: 0;
  background: #696969;
  padding: 0;
  border-top: 1px solid black;
  z-index: 10000;
}

.socials-share {
  text-align: center;
  margin: 10px 30px 10px 30px;
}

.socials-share a {
  padding: 4px 30px;
  color: #fff;
  line-height: 2em;
  text-decoration: none;
  border-radius: 2px;
  white-space: nowrap;
  display: inline-block;
  margin-bottom: 4px;
}

.socials-share span.fa {
  margin-right: 3px;
}

.footer-copyright {
  text-align: center;
  color: white;
}

@media only screen and (max-width: 500px) {
  .row {
    display: block;
  }
}
.icon-footer {
  margin: 10px 30px;
  transition: 0.2s;
  opacity: 0.7;
}
.icon-footer:hover {
  opacity: 1;
  cursor: pointer;
}

.span-footer {
  color: white;
  font-size: 18px;
  opacity: 0.8;
  transition: 0.2s;

  margin: 10px 30px;
}
.span-footer:hover {
  cursor: pointer;
  opacity: 1;
  text-decoration: underline;
}

.nav-img img {
  height: 90px;
  width: 160px;
}

.nav-item a {
  color: #696969 !important;
  font-size: 25px;
}

.header {
  background-color: white;
}
.header-nav {
  display: block;
  margin-left: 500px;
  margin-right: -100px;
}

.here {
  background: #c9aa72;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.here:hover {
  border: #00acee !important;
}

#nav-a {
  color: white !important;
}

#namer input {
  border: none;
  border-radius: 40px;
  font-size: 35px;
  width: 100%;
  line-height: 35px;
  height: 70px;
  text-align: center;
  padding: 10px;
  background-color: white;
  color: #c9aa72;
}

#namer {
  display: block;
  position: relative;
  width: 40%;
  left: 50%;
  top: 130px;
  margin-left: -20%;
  transition: 0.5s;
}
#namer input:focus {
  outline: 0;
  color: #c9aa72;
  transition: ease 0.3s;
  border: 3px solid #c9aa72;
}
#namer input::placeholder {
  color: #918989ba;
}

#search {
  position: relative;
  left: 64%;
  display: block;
  width: 100px;
  height: 70px;
  background-color: #c9aa72;
  top: 60px;
  border: none;
  color: white;
  outline: none;
  border-radius: 40px;
  transition: 0.5s;
}

#search:hover {
  background-color: #ac8c52;
  border: 3px solid #c9aa72;
}

#navbarResponsive {
  transition: 0.5s;
}

@media only screen and (max-width: 990px) {
  #navbarResponsive {
    margin-left: 50% !important;
  }
}

@media only screen and (max-width: 768px) {
  #navbarResponsive {
    margin-left: 50% !important;
  }
}

@media only screen and (max-width: 1200px) {
  .nav-respon {
    margin-right: 1px !important;
    left: 11%;
    transition: 0.5s;
  }
  #navbarResponsive {
    margin-left: 50% !important;
  }
}
@media only screen and (max-width: 960px) {
  #namer {
    width: 60%;
    left: 50%;
    margin-left: -30%;
  }
  #search {
    left: 70%;
    width: 100px;
  }
}

@media only screen and (max-width: 650px) {
  #namer {
    width: 70%;
    left: 50%;
    margin-left: -35%;
  }
  #search {
    left: 70%;
    width: 100px;
  }
}
@media only screen and (max-width: 550px) {
  #search {
    left: 50%;
    top: 135px;
    width: 200px;
    margin-left: -100px;
    height: 40px;
  }
}
.search {
  margin-bottom: 150px;
}
.content {
  height: 300px;
  display: flex;
  background-color: white;
  margin: 20px 200px 0px 200px;
  border: 6px solid black;
  border-radius: 20px;
}
.imgProfile {
  /* position: relative;
 top: 20px;
  height: 250px;
  border: 2px solid #00acee;
  border-radius: 25%/50%; */
  height: 250px;
  min-height: 100%;
  min-width: 100%;
}
.imgContent {
  bottom: 0px;
  margin: 0 0 0 530px;
}
.info {
  margin: 10px 20px;
}

#infoName {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0;
}
<<<<<<< HEAD
=======
.guide {
  text-align: center;
  font-weight: normal;
}
.home:hover {
  background-color: #ac8c52;
}
.player-info:hover {
  background-color: #ac8c52;
}
.hight-light:hover {
  background-color: #ac8c52;
}
>>>>>>> fe36cf69c4a5961f009da1feb467bc637753b5ed
