.content {
  display: flex;
  background-color: white;
  margin: 0px 200px;
  border: 6px solid #bababa;
  border-radius: 20px;

}

.imgContent {
  background-color: white;
  bottom: 0px;
  margin: 0 0 0 600px;
}
.info {
  margin: 10px 20px;
}

#infoName {
  font-size: 30px;
}
